:root{
    --bg-l-gradient: linear-gradient(to right, #000, rgba(52, 31, 151,1.0), rgba(55, 66, 250,1.0));
    --bg-c-head: #30336b;
    --b-box-shadow: 0 12px 50px 0 rgba(19, 15, 64,1.0);
}

*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    background: var(--bg-l-gradient); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.pf-sidebar{
    background-color: transparent;
    padding: 5vw;
    box-shadow: var(--b-box-shadow);
}

.pf-grid-item{
    background-color: purple;
    padding: 3vw;
}